<?xml version="1.0" encoding="UTF-8"?>
<config>
    <mainClass>ContextAgent</mainClass>
    <agentAmount>1</agentAmount>
    <stopwords>resources/stopwords/edgar_stop.txt</stopwords>
    <useWhoosh>true</useWhoosh>
    <variedParameters>pre_trained_model,fine_tuned_model_path</variedParameters>

    <pre_trained_model>DeepPavlov/bert-base-multilingual-cased-sentence</pre_trained_model>
    <fine_tuned_model_path>modelTailored.pt</fine_tuned_model_path>
</config>
